@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
:root {
    --primary-color:    #FCFC62;
    --secondary-color:  #F8F7FF;
    --accent1-color: #1098F7;
    --accent2-color:    #FF784F;

    --heading-font: Raleway;
    --paragraph-font: Raleway;

    --nav-background-color: #FCFC62;
    --nav-link-color:   #F8F7FF;
    --nav-hover-link-color: #FF784F;
    --nav-hover-background-color:   #1098F7;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
#hero_img {
    float:right;
    width: 200px;
    height: auto;
    margin: 25px;
}
.hero h1 {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 99.9%;
    background-color: #1098F7;
    color: white;
    opacity: 0.8;
}
.hero article {
    position: absolute;
    bottom: 100px;
    right: 100px;
    top: 100px;
    left: 100px;
    font-weight: bold;
    text-align: start;
    padding-left: 15px;
    background-color: #F8F7FF;
    opacity: 0.8;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.logo-rafting {
    margin: 0 0.25rem 0 4rem;
    width: 250px;
    height: auto;
}
.nav-header {
    text-align: right;
    margin: 0 40px 0 0;
    display: flex;
}
.nav-header a {
    display: block;
    color: navy;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    flex: 1 100%;
}
.nav-header a:hover {
    color: #1098F7;
    font-weight: 700;
    text-decoration: underline;
}