@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
:root {
    --primary-color:    #FCFC62;
    --secondary-color:  #F8F7FF;
    --accent1-color: #1098F7;
    --accent2-color:    #FF784F;

    --heading-font: Raleway;
    --paragraph-font: Raleway;

    --nav-background-color: #FCFC62;
    --nav-link-color:   #F8F7FF;
    --nav-hover-link-color: #FF784F;
    --nav-hover-background-color:   #1098F7;
}
body {
    font-family: Raleway;
}
.hero {
    position: relative;
    display: flex;
    flex-direction: column
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
#hero_img {
    float: right;
    width: 17%;
    height: auto;
    margin: 25px 25px 25px 0;
    flex: 1;
}
.hero h1 {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 99.9%;
    background-color: rgb(255, 120, 79);
    color: white;
    opacity: 0.8;
}
.hero article {
    position: absolute;
    flex-direction: row-reverse;
    display: flex;
    bottom: 100px;
    right: 50px;
    top: 100px;
    left: 50px;
    font-weight: bold;
    text-align: start;
    padding-left: 15px;
    background-color: rgba(248, 247, 255, 0.8);
}
#hero_p {
    display: flex;
    flex: 5;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 100%;
    background-color: rgb(16, 152, 247, 0.9);
}
.logo-rafting {
    margin: 0 0.25rem -4px 8rem;
    width: 250px;
    height: auto;
}
.nav-header {
    text-align: center;
    margin: 0 150px 0 0;
    display: flex;
}
.nav-header a {
    display: block;
    color: white;
    font-weight: bolder;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    flex: 1 100%;
}
.nav-header a:hover {
    color: #1E1E24;
    font-weight: 700;
    text-decoration: underline;
}
.history h2 {
    text-align: center;
    margin-bottom: 10px;
}
.history div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 20px;
    padding: 0 30px;
}
.history img {
    width: 100%;
}
.history p {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 20px;
}
.adventures h2 {
    grid-column: 1 / 6;
    text-align: center;
}
.adventures img {
    width: 85%;
    grid-column-gap: 15px;
}
.adventures figure {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.adventures figcaption {
    font-size: medium;
    width: 70%;
    margin: 10px 40px;
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(16, 152, 247, 0.9);
}
footer p {
    text-align: center;
    grid-column: 2;
    padding: 5px;
    color: white;
    font-weight: bolder;
}
.wireframe {
    grid-column: 6;
    color: white;
    font-weight: bolder;
    margin-top: 25px;
    margin-right: 25px;
}
.sociallinks {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}
.sociallinks a img {
    margin: 0 5px;
    width: 50%;
}
h1 {
    margin: 20px 20px 20px 20px;
    font-weight: bold;
}
h2 {
    margin-top: 0.5px;
    text-align: left;
}
.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 20px 20px 20px;
}
.employees h2 {
    grid-column: 1 / 6;
    text-align: center;
}
.employees img {
    width: 70%;
    grid-column-gap: 15px;
}
.employees figure {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.form {
    font-family: Raleway;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .7rem;
    margin: 1rem;
    border: 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    color: navy;
    font-weight: bold;
}
input {
    padding: 0.5rem;
    font-size: 1rem;
}
#fullname, #useremail {
    width: 400px;
}
#message, textarea {
    font-family: Raleway;
    text-align: start;
    height: 50px;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    margin-top: auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: green;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px 20px 20px;
}
#information {
    margin-left: 135px;
}
#map, figcaption {
    display: grid;
    justify-content: center;
    margin: 25px 10px 10px 10px;
    font-weight: bold;
}
.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 20px 20px 20px;

}
.trips h2 {
    grid-column: 1/2;
    text-align: center;
}
.trips img {
    width: 70%;
    grid-column-gap: 15px;
}
.trips figure {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
figcaption {
    font-size: medium;
    width: 70%;
    margin: 10px 65px;
    text-align: center;
    
}
.table {
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
#table1 {
    background-color: #FF784F;
    opacity: 0.8;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}
th, td {
    padding: 10px;
}
.contacting {
    align-self: center;
    justify-self: center;
}
.contacting a:hover {
    color: black;
    text-decoration: underline;
}
.contacting a {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
#lh, #cs, #tp {
    background-color: rgb(255, 120, 79);
    opacity: 0.8;
}
.whitewr {
    position: relative;
    display: flex;
    flex-direction: column
}
.whitewr img {
    display: block;
    width: 100%;
    height: auto;
}
.whitewr h1 {
    position: absolute;
    top: 170px;
    text-align: center;
    width: 99.9%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0.8;
    font-size: 40px;
}
.images h2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
